In [1]:
import pandas as pd


df = pd.read_parquet("green_tripdata_2025-11.parquet")

# Display first rows
df.head()

# Check data types
df.dtypes

# Check data shape
df.shape

(46912, 21)

In [2]:
df.columns = [c.lower() for c in df.columns]

In [3]:
df.columns

Index(['vendorid', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'ratecodeid', 'pulocationid', 'dolocationid',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge',
       'cbd_congestion_fee'],
      dtype='object')

In [5]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://user:admin@localhost:54320/zoom-camp-db')

df.to_sql("green_trip", engine)

912

In [6]:
df2 = pd.read_csv("taxi_zone_lookup.csv")

In [7]:
df2

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [8]:
df2.to_sql("taxi_zone", engine)

265